[Desktop Entry]
Name=ezgo14-forEVER

X-KDE-PluginInfo-Name=ezgo14
X-KDE-PluginInfo-Author=傅翊棋
X-KDE-PluginInfo-Email=fu840709@gmail.com
X-KDE-PluginInfo-License=LGPLv3
