[Desktop Entry]
Name=ezgo-walter

X-KDE-PluginInfo-Name=ezgo-walter
X-KDE-PluginInfo-Author=Walter Cheng
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
