[theme]
Name = ezgo11
Description = Lightdm theme for ezgo 11.  This theme is modified from lightdm-kde-greeter User Bar theme.
Version = 11.0
Author = Jiang Bing Run
Homepage = http://ezgo.westart.tw
