[Desktop Entry]
Comment[zh_TW]=顏國雄老師 Flash 教材
Comment=Flash tutorial accessories made by G. S. Yan
Exec=x-www-browser /usr/share/ezgo/ezgo-prt/PhET/index.html
GenericName[zh_TW]=台北市力行國小顏國雄老師所開發的多個 Flash 教材
GenericName=Flash tutorial accessories made by G. S. Yan
Icon=
Name[zh_TW]=顏國雄老師 Flash 教材
Name=ezgo-gsyan
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Education;X-Opencontent;
