[Desktop Entry]
Name=ezgo-moegiant

X-KDE-PluginInfo-Name=
X-KDE-PluginInfo-Author=Eric Sun
X-KDE-PluginInfo-Email=eric629@gmail.com
X-KDE-PluginInfo-License=LGPLv3
