[Desktop Entry]
Name=ezgo13-awareness

X-KDE-PluginInfo-Name=ezgo13-awareness
X-KDE-PluginInfo-Author=陳佳呈
X-KDE-PluginInfo-Email=zivickid@gmail.com
X-KDE-PluginInfo-License=LGPLv3
