[Desktop Entry]
Name=ezgo-哈寶2

X-KDE-PluginInfo-Name=ezgo-哈寶2
X-KDE-PluginInfo-Author=遠東科大資訊志工團隊
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
