[SddmGreeterTheme]
Name=ezgo
Name[zh_TW]=ezgo
Description=ezgo Theme for SDDM, derived from breeze theme by David Edmundson
Description[zh_TW]=SDDM 的 ezgo 主題, 從 David Edmundson 的「微風」主題修改而來
Author=Franklin Weng
Copyright=(c)2016, Franklin Weng
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Screenshot=ezgo.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=franklin@goodhorse.idv.tw
Theme-Id=ezgo
Theme-API=2.0
