[SddmGreeterTheme]
Name=ezgo
Name[zh_CN]=ezgo
Name[zh_TW]=ezgo13
Description=ezgo Theme
Description[zh_CN]=ezgo13
Description[zh_TW]=ezgo13
Author=
Copyright=
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=ezgo.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=davidedmundson@kde.org
Theme-Id=ezgo
Theme-API=2.0
