[Desktop Entry]
Categories=Settings;
Comment[zh_TW]=安裝第三方軟體
Comment=Install third party software
Exec=/usr/share/ezgo/media_pak_install/media_pak_install.py -f
Path=/usr/share/ezgo/media_pak_install
GenericName[zh_TW]=安裝常用的第三方軟體，例如 Skype 或 Flash 外掛程式等
GenericName=Install third party software
Icon=/usr/share/ezgo/icons/complete.png
Name[zh_TW]=安裝第三方軟體
Name[en]=Install third party software
Name=安裝第三方軟體
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=

