[Desktop Entry]
Comment[zh_TW]=物理動畫教學_Flash Animations for Physics
Comment=NPA
Exec=/usr/bin/x-www-browser /usr/share/ezgo/ezgo-prt/npa/index.html
GenericName[zh_TW]=物理動畫教學適合國高中以上的物理課程，例如向量波力學等教學動畫
GenericName=NPA
Icon=/usr/share/ezgo/icons/physics.png
Name[zh_TW]=物理動畫教學_Flash Animations for Physics
Name[en]=NPA
Name=物理動畫教學_Flash Animations for Physics
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Education;X-OpenContent;

