[Desktop Entry]
Comment[zh_TW]=ezgo 14 操作指南
Comment[zh_CN]=ezgo 14 操作指南
Comment=About ezgo 14
Exec=firefox /usr/share/ezgo/about_ezgo/index.html
Path=/usr/share/ezgo/about_ezgo
GenericName[zh_TW]=ezgo 14 操作指南
GenericName[zh_CN]=ezgo 14 操作指南
GenericName=About ezgo 14
Icon=/usr/share/ezgo/icons/computer.svg
Name[zh_TW]=ezgo 14 操作止難
Name[zh_CN]=ezgo 14 操作止难
Name[en]=ezgo 14 Manuals
Name=ezgo 14 Manuals
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
desktop=about_ezgo.desktop
Categories=myezgo;
