[Desktop Entry]
Categories=Settings;
Comment[zh_TW]=安裝推薦軟體
Comment=Install recommended software
Exec=/usr/share/ezgo/media_pak_install/media_pak_install.py
Path=/usr/share/ezgo/media_pak_install
GenericName[zh_TW]=安裝推薦軟體
GenericName=Install recommended software
Icon=/usr/share/ezgo/icons/complete.png
Name[zh_TW]=安裝推薦軟體
Name[en]=Install recommended software
Name=安裝推薦軟體
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
