[Desktop Entry]
Name=ezgo13

X-KDE-PluginInfo-Name=ezgo13
X-KDE-PluginInfo-Author=ezgo develop team
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
