[Desktop Entry]
Name=ezgo12-wallpaper

X-KDE-PluginInfo-Name=ezgo12-wallpaper
X-KDE-PluginInfo-Author=Shirley Lu <shirleylv@ezgolinux.org>
X-KDE-PluginInfo-Email=ezgo-tw@googlegroups.com
X-KDE-PluginInfo-License=GPLv2+
