[Desktop Entry]
Comment[zh_TW]=A+A Space 藝廊
Comment=A+A Space Gallery
Exec=dolphin /usr/share/ezgo/ezgo-gallery
GenericName[zh_TW]=A+A Space 藝廊
GenericName=A+A Space Gallery
Icon=/usr/share/ezgo/icons/robot7_small.png
Name[zh_TW]=A+A Space 藝廊
Name[en]=A+A Space Gallery
Name=A+A Space 藝廊
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
